<table>
  <thead> <tr>
      <th attr.colspan={{columnSpan}}> Employee Details </th>
  
     <!-- <th [attr.colspan]='columnSpan'> Employee Details </th>
     -->
       
    </tr> </thead>
    <tbody>
  <tr>
    <th>First Name</th>
    <th>{{firstName}}</th> 
     
  </tr> 
  <tr class="colorClass" [class]='classesToApply'>
    <td>Last Name</td>
    <td>{{lastName}}</td> 
     
  </tr>
  <tr class ="colorClass" [class.boldClass]= 'applyBoldClass'>
    <td>Gender</td>
    <td>{{gender}}</td> 
     
  </tr>

    <tr *ngIf='showDetails' class ="colorClass italicClass boldClass" [class.boldClass]= 'applyBoldClass'>
       
      <td>Age</td>
      <td>{{age}}</td> 
       
    </tr> 
  
    <tr *ngIf='showDetails' class ="colorClass" [ngClass]= 'addClasses()'>
       
        <td>Qualification</td>
        <td>{{qualification}}</td> 
         
      </tr>
  </tbody>
</table>
<button  (click)='onClick()'>Click Me</button>
<br/> <br/>
    <button on-click ='onClick()'>Click Me Too</button>
    <br/><br/>   
    
<button  (click)='toggleDetails()'>{{showDetails? 'Hide' : 'Show'}} Details</button>

<br/><br/> 

Name: <input [value]='firstName' (input) = 'firstName=$event.target.value'/>
<br/> <br/>
You entered: {{firstName}}

<!--square brackets property binding, parenthesis event binding-->
Name: <input [(ngModel)]='firstName'/> 
<br/> <br/>
You entered: {{firstName}}